.player-display {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    height: 50px;
    padding: 0 10px;
    border-radius: 5px;
    /* border: 1px solid black  ; */
  }
  
  .left-icon {
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .left-icon img {
    width: 24px;
    height: 24px;
  }
  
  .center-content {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
  }
  
  .player-container{
    width: 350px;
    height: 40px;
    background: rgba(151, 151, 151, 0.56);
  }
  