/* General styles */
.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nav_icon {
  color: red;
}

.nav_btn {
  justify-content: start !important;
  color: black !important;
}

.line2 {
  font-size: 17px;
  line-height: 1.4118447059;
  font-weight: 400;
  letter-spacing: 0;
  font-family: -apple-system, BlinkMacSystemFont, Apple Color Emoji, SF Pro,
    SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Layout */
.layout {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar content"
    "sidebar footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 200px 1fr;
  height: 100vh;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* Adjust the background color as needed */
  padding: 10px;
}

.player-controler,
.player-display,
.player-volume,
.player-menu,
.player-Sign-in {
  flex: 1 1; /* Ensures all components have equal space */
}
.player-controler,
.player-display,
.player-volume,
.player-menu,
.player-Sign-in {
  flex: 2 2; /* Ensures all components have equal space */
}

.player-controler {
  display: flex;
  justify-content: flex-start;
}

.player-display {
  display: flex;
  justify-content: center;
}

.player-volume {
  display: flex;
  justify-content: flex-end;
}

.player-menu {
  display: flex;
  justify-content: flex-end;
}

.player-Sign-in {
  display: flex;
  justify-content: flex-end;
}

.player-Sign-in button {
  background-color: red; /* Adjust button color as needed */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Layout */
.layout {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer";
  grid-template-columns: 0.5fr 3fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: stretch;
  justify-items: center;
}

/* Footer styles */
.footer {
  grid-area: footer;
  background-color: hsl(0deg 0% 19.61%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}

/* Sidebar styles */
.sidebar {
  grid-area: sidebar;
  background-color: hsl(240deg 1.33% 14.71%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 275px;
  height: 100%;
  position: sticky;
}

.options-btn {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  color: rgb(253 253 253);
}

.btom-container {
  position: absolute;
  bottom: 40px;
  left: 52px;
  gap: 10px;
}

/* Header styles */
.header {
  grid-area: header;
  background-color: hsl(0deg 0% 17.25%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.sidenav_button_wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: auto;
}

/* Main content styles */
.content {
  grid-area: content;
  padding: 20px;
  overflow-y: auto;
}

.main {
  grid-area: main;
  background-color: hsl(0deg 0% 12.16%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: overlay;
}

/* Other styles */
.applelogotext {
  text-align: center;
  text-decoration: solid;
  font-size: 23px;
  font-weight: 500;
  color: #fff;
}

.Open-in-music-btn,
.try-beta-btn,
.beta-btn {
  border: none;
  font-size: 13px;
  align-items: center;
  display: flex;
  flex-direction: inherit;
  background-color: transparent;
  color: rgb(176 176 177);
}

.Open-in-music-btn {
  height: 35px;
  bottom: 0px;
}

.open-in-music-svg {
  width: 20px;
  height: 600px;
  color: rgb(176 176 177);
}
