/* General styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Layout */
.layout {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar content"
    "sidebar footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 200px 1fr;
  height: 100vh;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* Adjust the background color as needed */
  padding: 0px 2px;
}

.player-controler, .player-display, .player-volume, .player-menu, .player-Sign-in {
  flex: 2 2; /* Ensures all components have equal space */
}

.player-controler {
  display: flex;
  justify-content: flex-start;
}

.player-display {
  display: flex;
  justify-content: center;
}

.player-volume {
  display: flex;
  justify-content: flex-end;
}

.player-menu {
  display: flex;
  justify-content: flex-end;
}

.player-Sign-in {
  display: flex;
  justify-content: flex-end;
}


.player-Sign-in button {
  background-color: red; /* Adjust button color as needed */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Footer styles */
.footer {
  grid-area: footer;
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

/* Sidebar styles */
.sidebar {
  grid-area: sidebar;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sidenav_button_wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: auto;
}

/* Main content styles */
.content {
  grid-area: content;
  padding: 20px;
  overflow-y: auto;
}

.mainContent {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Other styles */
.applelogotext {
  text-align: center;
  text-decoration: solid;
  font-size: 23px;
  font-weight: 500;
}

.Open-in-music-btn,
.try-beta-btn,
.beta-btn {
  border: none;
  font-size: 13px;
  align-items: center;
  display: flex;
  flex-direction: inherit;
}

.Open-in-music-btn {
  height: 35px;
}

.open-in-music-svg {
  width: 20px;
  height: 600px;
}
